imageio==2.35.0
lazy_loader==0.4
networkx==3.3
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pip==24.2
scikit-image==0.24.0
scipy==1.14.0
setuptools==65.5.0
tifffile==2024.8.10
